* linguist-vendored
*.fst linguist-vendored=false
*.txt linguist-vendored=false
*/*.fst linguist-vendored=false
*/*/*.fst linguist-vendored=false
*/*.txt linguist-vendored=false
*/*.Q linguist-vendored=false
Parallel/*.fst linguist-vendored=false
